<section  class="convidado-form">

  <section class="container wrap">
    <h3>Edit Convidados</h3>
  </section>

  <form [formGroup]="frmConvidado">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Id</mat-label>
      <input matInput type="text" class="form-control" formControlName="id" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput type="text" class="form-control" formControlName="nome">
    </mat-form-field>

    <footer class="footer-action">
      <a
      routerLink='/home/convidado/list'
      routerLinkActive >
        <mat-icon
          class="item-action btnBack"
          mat-raised-button
          matTooltip="Cancelar"
        >cancel
        </mat-icon>
      </a>

      <a
      (click)="salvarConvidado()">
      <mat-icon
          mat-raised-button
          matTooltip="Salvar"
          class="item-action btnPost"
          >check_circle
        </mat-icon>
      </a>

    </footer>

  </form>
</section>



