.convidado-form {
  margin: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.footer-action{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-action {
	margin: 5px;
	padding: 0 10px;
	text-align: end;
	font-size: 2.5em;
}


