<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="square-jelly-box"
>
<p style="font-size: 20px; color: white">
Loading...
</p>
</ngx-spinner>


<div class="card border-danger mb-3 center-form" style="max-width: 32rem;" >
  <div class="card-header bg-danger border-danger text-white">Excluir Especialidade</div>
  <div class="card-body text-info">
    <div class="alert alert-warning" role="alert" *ngIf="!erroMsg">
      Tem certeza que deseja excluir a especialidade <strong>{{nameExclud}}</strong>  !
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="erroMsg" >
      <strong>Erro {{errorMessage}} </strong> {{erroMsg}} !
     <span class="btn-end">
       <button routerLink='/home/especialidade/list' class="btn btn-danger btn-sm mr-2 btnSize " >
         <i class="fa fa-undo" aria-hidden="true"></i>
           voltar
       </button>
    </span>

    </div>
    <div class="content">
      <img class="imgSize" src="../../../../../assets/img/svg/delete.svg" alt="">
    </div>

  </div>
  <div class="card-footer bg-transparent border-danger footer-action">
        <button type="button" class="btn btn-danger btn-sm mr-2 btnSize" data-toggle="tooltip" data-placement="bottom" title="Descartar Exclusão" routerLink='/home/especialidade/list'>
          <i class="fa fa-undo" aria-hidden="true"></i>
          Descartar
        </button>
        <button type="button" class="btn btn-info btn-sm mr-2 btnSize" data-toggle="tooltip" data-placement="bottom" title="Excluir" (click)="deleteEspecialidade()">
          <i class="fa fa-check" aria-hidden="true"></i>
          Excluir
        </button>
  </div>
</div>
