.header-accordion{
  background-color: #4682B4 ;
  color: white;
  margin-left: -15px;
}

.spacer-icon-accordion{
  margin-top: -3px;
  margin-right: 5px;
}

.item-accordion{

   text-decoration: none;
   color:white;
}

.item-accordion:focus{

  text-decoration: none;
  color :  #c8a2c8;
}

.logoImg{
  width: 35px;
  padding-right: 10px;
}

.card-header{
  background-color: #4682B4 ;
  border-color: #4682B4;
  padding-left: 0px;
  padding-right: 0px;


}

.clTxt{
  color: white;
}

.item-accordion{
  background-color: #5d9fd4 ;
}

.card {
  border:transparent;
}

.card-body{
  padding: 0px;
  color: #ffff;
}

.clTxtSub{
  color: rgb(41, 28, 116);
}
