label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #ffff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.img{
	display: flex;
	justify-content: flex-start;
	align-items: center;
  position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.img img{
	width: 400px;
}


@media screen and (max-width: 768){
  .container{
  padding-left: 100px;
  }
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-left: 30px;
}
}

@media screen and (max-width: 1050px){
  .img img{
    width: 500px;
  }
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 900px){
	.img{
		display: none;
	}

/* 	.wave{
		display: none;
	}
 */
}

@media screen and (max-width: 320px){
	.img{
		display: none;
	}

/* 	.wave{
		display: none;
	} */
}


@media screen and (max-width: 1454){

	.img{
		display: none;
	}


}
